# Test Data Evaluation

In [62]:
test_data_df

          FileName  ...             FileName_scaled
535    Img_257.jpg  ...   images_scaled/Img_257.jpg
1369  Img_4929.jpg  ...  images_scaled/Img_4929.jpg
1171  Img_4372.jpg  ...  images_scaled/Img_4372.jpg
2921  Img_9279.jpg  ...  images_scaled/Img_9279.jpg
736   Img_3148.jpg  ...  images_scaled/Img_3148.jpg
...            ...  ...                         ...
1076  Img_4112.jpg  ...  images_scaled/Img_4112.jpg
545   Img_2596.jpg  ...  images_scaled/Img_2596.jpg
1645  Img_5672.jpg  ...  images_scaled/Img_5672.jpg
894   Img_3588.jpg  ...  images_scaled/Img_3588.jpg
1387  Img_4963.jpg  ...  images_scaled/Img_4963.jpg

[758 rows x 6 columns]

In [63]:
best_model = tf.keras.models.load_model("drive/MyDrive/reg_labmda_0p001_model")

best_model.summary()

Model: "model_4"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input (InputLayer)              [(None, 224, 224, 3) 0
__________________________________________________________________________________________________
conv_1 (Conv2D)                 (None, 224, 224, 64) 9472        input[0][0]
__________________________________________________________________________________________________
batch_normalization_148 (BatchN (None, 224, 224, 64) 256         conv_1[0][0]
__________________________________________________________________________________________________
residual_block_64 (ResidualBloc (None, 112, 112, 64) 78784       batch_normalization_148[0][0]
__________________________________________________________________________________________________
residual_block_65 (ResidualBloc (None, 112, 112, 64) 74368       residual_block_64[0][0]
__________________________________________________________________________________________________
residual_block_66 (ResidualBloc (None, 112, 112, 64) 74368       residual_block_65[0][0]
__________________________________________________________________________________________________
residual_block_67 (ResidualBloc (None, 56, 56, 128)  231296      residual_block_66[0][0]
__________________________________________________________________________________________________
residual_block_68 (ResidualBloc (None, 56, 56, 128)  296192      residual_block_67[0][0]
__________________________________________________________________________________________________
residual_block_69 (ResidualBloc (None, 56, 56, 128)  296192      residual_block_68[0][0]
__________________________________________________________________________________________________
residual_block_70 (ResidualBloc (None, 56, 56, 128)  296192      residual_block_69[0][0]
__________________________________________________________________________________________________
residual_block_71 (ResidualBloc (None, 28, 28, 256)  921344      residual_block_70[0][0]
__________________________________________________________________________________________________
residual_block_72 (ResidualBloc (None, 28, 28, 256)  1182208     residual_block_71[0][0]
__________________________________________________________________________________________________
residual_block_73 (ResidualBloc (None, 28, 28, 256)  1182208     residual_block_72[0][0]
__________________________________________________________________________________________________
residual_block_74 (ResidualBloc (None, 28, 28, 256)  1182208     residual_block_73[0][0]
__________________________________________________________________________________________________
residual_block_75 (ResidualBloc (None, 28, 28, 256)  1182208     residual_block_74[0][0]
__________________________________________________________________________________________________
residual_block_76 (ResidualBloc (None, 28, 28, 256)  1182208     residual_block_75[0][0]
__________________________________________________________________________________________________
residual_block_77 (ResidualBloc (None, 14, 14, 512)  3677696     residual_block_76[0][0]
__________________________________________________________________________________________________
residual_block_78 (ResidualBloc (None, 14, 14, 512)  4723712     residual_block_77[0][0]
__________________________________________________________________________________________________
residual_block_79 (ResidualBloc (None, 14, 14, 512)  4723712     residual_block_78[0][0]
__________________________________________________________________________________________________
gap_1 (GlobalAveragePooling2D)  (None, 512)          0           residual_block_79[0][0]
__________________________________________________________________________________________________
flat_1 (Flatten)                (None, 512)          0           gap_1[0][0]
__________________________________________________________________________________________________
action_class (Dense)            (None, 5)            2565        flat_1[0][0]
__________________________________________________________________________________________________
action (Dense)                  (None, 21)           10773       flat_1[0][0]
==================================================================================================
Total params: 21,327,962
Trainable params: 21,310,810
Non-trainable params: 17,152
__________________________________________________________________________________________________

In [69]:
BATCH_SIZE = 64

data_mean = 0.
data_std = 255.0
testing_generator = DataGenerator(
                                    data_frame = test_data_df, 
                                    batch_size = BATCH_SIZE, 
                                    data_mean = data_mean, 
                                    data_std = data_std, 
                                    create_folder = False, 
                                    dim = (224, 224, 3), 
                                    shuffle = True, 
                                    augment = False,
                                    file_name = 'drive/MyDrive/test_data.csv',
                                    image_column = "FileName_scaled" 
                                    )

In [142]:
results = best_model.evaluate(testing_generator, batch_size = BATCH_SIZE)

11/11 [==============================] - 2s 152ms/step - loss: 4.8139 - action_class_loss: 1.4272 - action_loss: 2.2995 - action_class_accuracy: 0.6406 - action_class_top_k_categorical_accuracy: 1.0000 - action_accuracy: 0.4915 - action_top_k_categorical_accuracy: 0.8281

In [143]:
results

[4.813885688781738,
 1.4271916151046753,
 2.299529790878296,
 0.640625,
 1.0,
 0.49147728085517883,
 0.828125]

In [144]:
metrics = best_model.metrics_names

In [146]:
for i in range(len(results)): 
    print(metrics[i] + ": " + str(results[i]))

loss: 4.813885688781738
action_class_loss: 1.4271916151046753
action_loss: 2.299529790878296
action_class_accuracy: 0.640625
action_class_top_k_categorical_accuracy: 1.0
action_accuracy: 0.49147728085517883
action_top_k_categorical_accuracy: 0.828125

<span style="font-size:1em;">âœ”</span> **Observations:**
 - This matches the validation set performance

# Making Predictions

In [77]:
predict_df = pd.read_csv('A1_data/S40AR_test_data.csv')

In [78]:
predict_df

          FileName
0     Img_1005.jpg
1     Img_1012.jpg
2     Img_1014.jpg
3     Img_1015.jpg
4      Img_102.jpg
...            ...
2094   Img_985.jpg
2095   Img_986.jpg
2096   Img_993.jpg
2097   Img_994.jpg
2098   Img_996.jpg

[2099 rows x 1 columns]

First we need to resize all the images to 224x224

In [79]:
!mkdir "predict_images_scaled"
for i in range(len(predict_df)):
    img=mpimg.imread(img_dir+predict_df['FileName'][i])
    #imgplot = plt.imshow(img)
    image_scaled = tf.image.convert_image_dtype(img, tf.float32)
    image_scaled = tf.image.resize(image_scaled, (224, 224))
    
    
    tf.keras.preprocessing.image.save_img("predict_images_scaled/"+predict_df['FileName'][i], image_scaled)

In [80]:
predict_df["FileName_scaled"] = "predict_images_scaled/" + predict_df['FileName']

In [81]:
predict_df

          FileName                     FileName_scaled
0     Img_1005.jpg  predict_images_scaled/Img_1005.jpg
1     Img_1012.jpg  predict_images_scaled/Img_1012.jpg
2     Img_1014.jpg  predict_images_scaled/Img_1014.jpg
3     Img_1015.jpg  predict_images_scaled/Img_1015.jpg
4      Img_102.jpg   predict_images_scaled/Img_102.jpg
...            ...                                 ...
2094   Img_985.jpg   predict_images_scaled/Img_985.jpg
2095   Img_986.jpg   predict_images_scaled/Img_986.jpg
2096   Img_993.jpg   predict_images_scaled/Img_993.jpg
2097   Img_994.jpg   predict_images_scaled/Img_994.jpg
2098   Img_996.jpg   predict_images_scaled/Img_996.jpg

[2099 rows x 2 columns]

Now we need to link the prediction values with their associated class labels for both tasks

In [165]:
action_labels = {}
for i in range(21):
    action_labels[i] = train_data_df["action"][train_data_df["action_num"] == i].unique()[0] 

action_class_labels = {}
for i in range(5):
    action_class_labels[i] = train_data_df["action_class"][train_data_df["action_class_num"] == i].unique()[0]

In [166]:
action_labels

{0: 'cleaning_the_floor',
 1: 'climbing',
 2: 'cooking',
 3: 'cutting_vegetables',
 4: 'feeding_a_horse',
 5: 'gardening',
 6: 'jumping',
 7: 'phoning',
 8: 'playing_guitar',
 9: 'playing_violin',
 10: 'riding_a_bike',
 11: 'riding_a_horse',
 12: 'rowing_a_boat',
 13: 'running',
 14: 'shooting_an_arrow',
 15: 'taking_photos',
 16: 'texting_message',
 17: 'using_a_computer',
 18: 'walking_the_dog',
 19: 'washing_dishes',
 20: 'watching_TV'}

In [167]:
action_class_labels

{0: 'Interacting_with_animal',
 1: 'domestic_work',
 2: 'other_activity',
 3: 'playing_musical_instrument',
 4: 'using_comm_device'}

Now we can make the predictions

In [168]:
rows_list = []
for i in range(len(predict_df)):
    img = image.load_img(predict_df['FileName_scaled'][i])
    x = image.img_to_array(img)
    x = np.expand_dims(x, axis=0)
    x /= 255
    #images = np.vstack([x])

    prediction = best_model.predict(x)

    dict_line = {"FileName": predict_df['FileName_scaled'][i], "action": action_labels[prediction[1][0].argmax()], "action_class":action_class_labels[prediction[0][0].argmax()]}
    rows_list.append(dict_line)

predictions_df = pd.DataFrame(rows_list)
predictions_df.to_csv("predictions.csv", index = False)